@charset "utf-8";

body {
    zoom: 0.6;
    -webkit-print-color-adjust: exact;
}

.backtopbtn {
	display: none;
}

@-moz-document url-prefix() {
  #footer-container {
    display: none;
  }
  .ft-copyright {
  	display: none;
  }
}

/* IE10以上 */
@media print and (-ms-high-contrast: none) {

    body {
        zoom: 1.8;
        width: 1200px;
        transform: scale(0.5);
        transform-origin: 0 0;
    }
}
